@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
    padding: 20px 0;
    font-family: "Inter",serif;
    width: 1180px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}
.card{
    width: 372px;
    text-align: center;
}
.card img{
    width: 100%;
}