@media screen and (min-width: 769px) and (max-width: 1279px) {
    .cards{
        width: 720px;
        flex-wrap: wrap;
        gap:24px;
    }
    .card{
        width: 348px;
        padding-bottom: 20px;
    }
}